<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/clientTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="corpMedia">
		<div class="container-fluid">
			<h3>Videos Emp</h3>
			<table class="table table-striped">
				<tr>
					<th>Nom</th>
					<th>Date ajout</th>
					<th>ID Employer</th>
					<th>Etat</th>
					<th>Quantité disponible</th>
					<th>Description</th>
					<th>Couverture</th>
				</tr>

				<tr th:each="m:${PageEmployerv}">
					<td th:text="${m.nom}"></td>
					<td th:text="${m.dateCreation}"></td>
					<td th:text="${m.employe}"></td>
					<td th:text="${m.etat}"></td>
					<td th:text="${m.quantite}"></td>
					<td th:text="${m.description}"></td>
					<td th:text="${m.photo}"></td>
					<td><a th:href="@{editVideo(code=${m.codeMedia})}">Modifier</a></td>
					<td><a
						onclick="return confirm('Vous êtes sur le point d'effectuer une suppression. Voulez-vous continuer?')"
						th:href="@{supprimerVideo(code=${m.codeMedia})}">Supprimer</a></td>
				</tr>
			</table>
			<div class="container">
				<ul class="nav nav-pills">
					<li th:each="p:${pagesv}" th:class="${p==pageCourantv}?active:''"><a
						th:text="${p}" th:href="@{consultv(page=${p})}"></a></li>
				</ul>
			</div>


		</div>
	</div>
</body>
</html>