<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="myTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="entete">
		<div id="nav" class="navbar navbar-default navbar-inner">
			<div class="container-fluid">

				<!-- BAR CONTENTS -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Notre logo</span> <span class="icon-bar"></span>
						<span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a href="#page-top" class="navbar-brand navbar-brand-centered"><img
						src="../static/images/logo.jpg" alt="First slide" /></a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="hidden"><a href="#page-top"></a></li>
						<li><a class="page-scroll first" th:href="@{/accueil}">Accueil</a></li>
						<li><a class="page-scroll" th:href="@{/service}">Services</a></li>
						<li><a class="page-scroll" th:href="@{/evenement}">Evenements</a></li>
						<li><a class="page-scroll" th:href="@{/galerie}">Galerie</a></li>
					</ul>
					<ul class="navbar-header nav navbar-nav navbar-right">
						<li><a class="page-scroll" th:href="@{/logout}">
								Deconnecter</a></li>
						<li><a class="page-scroll" th:href="@{/admin}">À propos </a></li>
					</ul>
					<!-- </div> -->
					<!-- </div> -->

				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="content">
		<div class="container-fluid">

			<h3>Client page</h3>

		</div>
	</div>
</body>
</html>