<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="myTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3>Votre compte vient d'être crée, Bravo .....</h3>
			Pour vous connecter, merci de cliquer sur le sur le lien : <a
				title="connexion" href="http://localhost:8080/login"> Connexion</a>
		</div>
	</div>
</body>
</html>