<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="myTemplate">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 100%
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

.sidsection {
	background-color: #f1f1f1;
	height: auto;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
</style>

</head>
<body>
	<div layout:fragment="entete">
		<div id="nav" class="navbar navbar-default navbar-inner">
			<div class="container-fluid">

				<!-- BAR CONTENTS -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Notre logo</span> <span class="icon-bar"></span>
						<span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a href="#page-top" class="navbar-brand navbar-brand-centered"><img
						src="../static/images/logo.jpg" alt="First slide" /></a>
				</div>
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="hidden"><a href="#page-top"></a></li>
						<li><a class="page-scroll first" th:href="@{/accueil}">Accueil</a></li>
						<li><a class="page-scroll" th:href="@{/service}">Services</a></li>
						<li><a class="page-scroll" th:href="@{/evenement}">Evenements</a></li>
						<li><a class="page-scroll" th:href="@{/galerie}">Galerie</a></li>
					</ul>
					<ul class="navbar-header nav navbar-nav navbar-right">
						<li><a class="page-scroll" th:href="@{/logout}">
								Deconnecter</a></li>
						<li><a class="page-scroll" th:href="@{/admin}">À propos </a></li>
					</ul>
					<!-- </div> -->
					<!-- </div> -->

				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row content">
				<div class="col-sm-3 sidenav">
					<h4>Gestion des clients</h4>
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#section1">Menu</a></li>
						<li><a href="#section2">menu 1</a></li>
						<li><a href="#section3">menu 2</a></li>
						<li><a href="#section3">Menu 3</a></li>
					</ul>
					<br />

					<h4>Gestion des média</h4>
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#section1">Menu</a></li>
						<li><a href="#section2">menu 1</a></li>
						<li><a href="#section3">menu 2</a></li>
						<li><a href="#section3">Menu 3</a></li>
					</ul>
					<br />
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Search Blog.." /> <span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="col-sm-9 sidsection"></div>
			</div>
		</div>
	</div>
</body>
</html>